<h1>Lista de Tecnologias</h1>
<div class="row">
  <div class="coll-md-8 col-xs-8">
  </div>
  <div class="col-md-4 col-xs-4">
    <p>Buscar: <input type="text"  ng-model="buscar"></p>
  </div>
</div>
<div class="col-md-3 col-xs-3">ID</div>
<div class="col-md-3 col-xs-3">NOMBRE</div>
<div class="col-md-3 col-xs-3">DESCRIPCION</div>
<div class="col-md-3 col-xs-3">EDITAR</div>
<div class="row col-md-12" ng-repeat ="tecno in $ctrl.arrayTecnologias | limitTo:$ctrl.maxSize:$ctrl.currentPage*$ctrl.maxSize | filter:$ctrl.buscar">
      <div class="col-md-3 col-xs-3">{{tecno.id}}</div>
      <div class="col-md-3 col-xs-3">{{tecno.nombre}}</div>
      <div class="col-md-3 col-xs-3">{{tecno.descripcion}}</div>
      <div class="col-md-3 col-xs-3">
        <div class="btn-group" uib-dropdown>
          <button id="split-button" type="button" class="btn btn-primary">Ver</button>
        <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a href="#">Ver</a></li>
        <li role="menuitem"><a href="#">Editar</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Borrar</a></li>
      </ul>
      </div>
    </div>
  </div>
<div >
  <ul uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" max-size="$ctrl.maxSize" class="pagination-sm" boundary-link-numbers="true"></ul>
</div>
