<div class="container-fluid row">
  <div class="col-md-2 col-xs-2"></div>
  <div class="col-md-8 col-xs-8">
  <h1 style="text-align: center">Tecnologias <small>Formulario</small></h1>
      <form name="form" >
          <div class="form-group has-feedback">



            <div class="input_content sin-margen form-group col-md-4 col-sm-2 container-fluid"
                ng-class="{ 'has-error' : form.nombre.$invalid && !form.nombre.$pristine }">
                <label for="nombre">Nombre : </label>
                <input required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ ]{0,}" class="form-control" name="nombre" ng-model="$ctrl.tecnologia.nombre" autofocus aria-describedby="helpBlock2">
                <span ng-class="!form.nombre.$error.pattern ? 'oculto' : ''" class="help-block">Sólo puede incluir letras</span>
            </div>

            <br><br><br>
            <label class="control-label col-sm-3" for="descripcion">descripcion: </label>
            <div class="col-sm-9">
                <textarea type="text" class="form-control" id="descripcion" aria-describedby="inputSuccess3Status" ng-model="$ctrl.tecnologia.descripcion" required></textarea>
            </div>
        </div>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.update($ctrl.tecnologia)"  ng-disabled="form.$invalid">Guardar</button>
            <button type="button" ng-click="$ctrl.reset(form)" class="btn btn-primary" >Reiniciar</button>
      </form>

    <div class="">
      <!-- <pre>$ctrl.form = {{$ctrl.form | json}}</pre> -->
    </div>
  </div>
    <div class="col-md-2 col-xs-2"></div>
</div>
