<h1 style="text-align: center">FORMULARIO <small>Tecnologias</small></h1>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <form>
          <div class="form-group">
            <label for="nombre">NOMBRE</label>
            <input name="nombre"  class="form-control" ng-model="$ctrl.user.name" required>
          </div>
        <div class="form-group">
          <label for="descripcion">DESCRIPCION:</label>
          <textarea name="descripcion" class="form-control" ng-model="$ctrl.user.desc"  required></textarea>
        </div>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.update($ctrl.user)">SAVE</button>
            <button type="button" ng-click="$ctrl.reset(form)" class="btn btn-primary" >RESET</button>
      </form>
  </div>
  <div class="col-md-4"></div>
</div>
<br><br>
    <div class="row">
    <pre>$ctrl.user = {{$ctrl.user | json}}</pre>
    <pre>$ctrl.master = {{$ctrl.master | json}}</pre>
</div>
