<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="index.scss" />
  </head>
  <body>
  <form name="contactos" class="css-form" novalidate>
    <table><tr>
      <td>
    <label for="idCandidato">Id de Candidato</label></td><td>
      <input type="text" ng-model="$ctrl.contacto.idCandidato" name="idCandidato" required=""/>
    </td></tr><tr><td>
    <label>tipo de contacto:</td><td>
      <input type="text" ng-model="$ctrl.contacto.tipo" name="tName" required="" />
    </label>
  </td></tr><tr><td>
    <label> valor:</td><td>
      <input type="text" ng-model="$ctrl.contacto.valor" name="cValor" required="" />
    </label>
  </td></tr><tr><td>
    <input class="css-reset"type="button" ng-click="$ctrl.reset($ctrl.contactos)" value="Reset" /></td><td>
    <input class="css-submit"type="submit" ng-click="$ctrl.update($ctrl.contacto)" value="Enviar" /></td></tr></table>

  </form>
    <pre>$ctrl.contacto = {{$ctrl.contacto | json}}</pre>
    <pre>$ctrl.master = {{$ctrl.master | json}}</pre>
  </body>
</html>
